<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand text-danger" href="/"><img src="/public/logo.png" alt="ACA" width="100" height="100"></a>
    <ul class="navbar-nav mr-auto">
        {{#if user}}
            {{#if user.locked}}
                <span class="navbar-text text-primary mr-5 ml-5"><h3>Your account has been locked</h3></span>
            {{else}}
                {{#ifEquals user.role 2}}
                    <li class="nav-item"><a class="nav-link mr-5 ml-5 text-danger" href="/admin"><h3>Admin</h3></a></li>
                {{else}}
                    <span class="navbar-text text-primary mr-5 ml-5"><h3>Hello {{user.fullname}}</h3></span>
                {{/ifEquals}}
                <li class="nav-item"><a class="nav-link" href="/profile"><h3>Profile</h3></a></li>
                <li class="nav-item"><a class="nav-link" href="/profile/mycourse"><h3>My Courses</h3></a></li>
                {{#if favorite}}
                    <li class="nav-item"><a class="nav-link" href="/profile/favorite"><h3>Favorite</h3></a></li>
                {{/if}}
                <li class="nav-item"><a class="nav-link" href="/login/logout"><h3>Logout</h3></a></li>
                <li class="nav-item"><a class="nav-link" href="/verify"><h3>Verify</h3></a></li>
            {{/if}}
        {{else}}
            <li class="nav-item"><a class="nav-link" href="/register"><h3>Register</h3></a></li>
            <li class="nav-item"><a class="nav-link" href="/login"><h3>Login</h3></a></li>
        {{/if}}
    </ul>
    <form action="/search" class="form-inline my-2 my-lg-0" method="GET">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" name="q">
        <button class="btn btn-success my-2 my-sm-0" type="submit">
            <i class="fas fa-search"></i>
            Search
        </button>
    </form>
</nav>
{{#if categories}}
    <div id="category">
        <button class="btn btn-outline-dark btn-block" type="button" data-toggle="collapse" data-target="#collapseWeb">Web</button>
        <div class="collapse container" id="collapseWeb" data-parent="#category">
            <div class="row row-cols-3">
                {{#each categories}}
                    {{#ifEquals this.type "Web"}}
                        <div class="col-sm">
                            <a class="btn btn-outline-danger btn-block" href="/course/byCat?categoryId={{this._id}}">{{this.name}}</a>
                        </div>
                    {{/ifEquals}}
                {{/each}}
            </div>
        </div>
        <button class="btn btn-outline-dark btn-block" type="button" data-toggle="collapse" data-target="#collapseMobile">Mobile</button>
        <div class="collapse container" id="collapseMobile" data-parent="#category">
            <div class="row row-cols-3">
                {{#each categories}}
                    {{#ifEquals this.type "Mobile"}}
                        <div class="col-sm">
                            <a class="btn btn-outline-danger btn-block" href="/course/byCat?categoryId={{this._id}}">{{this.name}}</a>
                        </div>
                    {{/ifEquals}}
                {{/each}}
            </div>
        </div>
    </div>
{{/if}}
{{#ifEquals user.role 1}}
    <div class="d-flex flex-row">
    <a class="btn btn-success btn-block" href="/course/add" role="button"> 
        <i class="fas fa-plus" aria-hidden="true"></i>
        Add course
    </a>
</div>
{{/ifEquals}}