{{#section 'script'}}
    <script>
        document.getElementById("sometext").addEventListener('click', editDetail);
        function editDetail(){
            let x = document.getElementById("sometext");    
            x.contentEditable = true;
            //document.getElementById("sometext").contentEditable = false;
        }
    </script>
{{/section}}
<div class="d-flex flex-row">
    <a class="btn btn-success btn-block" href="/course/add" role="button"> 
        <i class="fas fa-plus" aria-hidden="true"></i>
        Add course
    </a>
</div>
<div class="card">
    <h3 class="card-title text-center mt-3">Courses</h3>
    <div class="d-flex flex-row-reverse mr-5">
        <a class="btn btn-outline-danger" href="/search/sort-rating">Sort rating descending</a>
        <a class="btn btn-outline-warning" href="/search/sort-fee">Sort fee ascending</a>
        <ul class="pagination">
            {{#each pages}}
                <li class="page-item">
                    {{#if courseId}}
                        <a class="page-link" href="/course/byCat?categoryId={{../categoryId}}&page={{this}}">{{this}}</a>
                    {{/if}}
                    {{#if searchQ}}
                        <a class="page-link" href="/search?q={{../searchQ}}&page={{this}}">{{this}}</a>
                    {{/if}}
                </li>
            {{/each}}
        </ul>
    </div>
    {{#if empty}}
    <div class="card-body">
        <p class="card-text">No data</p>
    </div>
    {{else}}
        <div class="card-body">
            <div class="row">
                {{#each courses}}
                    <div class="col-sm-4 mb-3">
                        <div class="card h-100">
                            <img src="{{this.smallPicture}}" class="card-img-top" alt="{{this.title}}">
                            <div class="card-body">
                                <h5 class="card-title">{{this.title}}</h5>
                                <h6 class="card-subtitle">by {{this.teacher.fullname}}</h5>
                                <h6 class="text-primary pt-4">{{this.category.name}}</h6>
                                <h5 class="text-danger">{{this.fee.price}} VND</h5>
                                <h5 class="text-warning">Sale off: {{this.fee.sale}}%</h5>
                                <p class="card-text">
                                    {{{this.minDesc}}}
                                </p>
                            </div>
                            <div class="card-footer">
                                <a class="btn btn-sm btn-outline-primary" href="/course/detail?courseId={{this._id}}" role="button">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                    Details
                                </a>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    {{/if}}
</div>