<div class="d-flex flex-row">
    <a class="btn btn-success btn-block" href="/course/add" role="button"> 
        <i class="fas fa-plus" aria-hidden="true"></i>
        Add course
    </a>
</div>
<div class="card">
    <h3 class="card-title text-center mt-3">Courses</h3>
    <div class="d-flex justify-content-between">
        <ul class="pagination ml-3">
            {{#each pages}}
                <li class="page-item">
                    {{#if ../categoryId}}
                        <a class="page-link" href="/course/byCat?categoryId={{../categoryId}}&page={{this}}">{{this}}</a>
                    {{/if}}
                    {{#if ../searchQ}}
                        <a class="page-link" href="/search?q={{../searchQ}}&page={{this}}">{{this}}</a>
                    {{/if}}
                </li>
            {{/each}}
        </ul>
        <div class="mr-5">
            <a class="btn btn-outline-danger" href="/search/sort-rating">Sort rating descending</a>
            <a class="btn btn-outline-warning" href="/search/sort-fee">Sort fee ascending</a>
        </div>
    </div>
    {{#if empty}}
    <div class="card-body">
        <p class="card-text">No data</p>
    </div>
    {{else}}
        <div class="card-body">
            <div class="row">
                {{#each courses}}
                    <div class="col-sm-4 mb-3">
                        <div class="card h-100">
                            <img src="/public/images/{{this.teacher._id}}/{{this._id}}/{{this.smallPicture}}" class="card-img-top" alt="{{this.title}}" width="286" height="180">
                            <div class="card-body">
                                <h5 class="card-title">{{this.title}}</h5>
                                <h6 class="card-subtitle">by {{this.teacher.fullname}}</h5>
                                <h6 class="text-primary pt-4">{{this.category.name}}</h6>
                                <h5 class="text-danger">{{this.fee.price}} VND</h5>
                                <h5 class="text-warning">Sale off: {{this.fee.sale}}%</h5>
                                <p class="card-text">
                                    {{{this.minDesc}}}
                                </p>
                                <input id="{{this.title}}" name="{{this.title}}" class="kv-ltr-theme-svg-star rating-loading mt-3" value="{{this.rate}}" dir="ltr" data-size="sm" readonly="true">
                            </div>
                            <div class="card-footer">
                                <a class="btn btn-sm btn-outline-primary" href="/course/detail?courseId={{this._id}}" role="button">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                    Details
                                </a>
                                {{#ifEquals ../user._id this.teacher._id}}
                                    <a class="btn btn-sm btn-outline-primary" href="/profile/edit?courseId={{this._id}}" role="button">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                        Edit
                                    </a>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    {{/if}}
</div>

{{#section 'script'}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.6/js/star-rating.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.6/themes/krajee-svg/theme.js"></script>
    <script>
        $(document).ready(function(){
            $('.kv-ltr-theme-svg-star').rating({
                hoverOnClear: false,
                theme: 'krajee-svg'
            })
        })
    </script>
{{/section}}

{{#section 'style'}}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.6/css/star-rating.min.css" media="all" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.6/themes/krajee-svg/theme.css" media="all" rel="stylesheet" type="text/css" />
{{/section}}