<div class="card">
    <h5 class="card-header">
        <div class="d-flex justify-content-between">
            <h3>
                {{morecourse.course.title}} by {{morecourse.course.teacher.fullname}}
            </h3>
            <div>
                Updated on <b>{{dateFormat morecourse.course.updatedOn "dddd, MMMM Do YYYY, h:mm:ss a"}}</b>
            </div>
        </div>
    </h5>
    <div class="card-body">
        <img src="/public/images/{{morecourse.course.teacher._id}}/{{morecourse.course._id}}/{{morecourse.course.smallPicture}}" alt="{{morecourse.course.title}}" class="limit">
        <h3 class="card-text mt-3">Price: <span class="text-danger font-weight-bold">{{toLocale morecourse.course.fee.price}}</span></h3>
        <h4 class="card-text">Sale off: <span class="text-warning font-weight-bold">{{morecourse.course.fee.sale}}%</span></h4>
        <p class="card-text text-success">({{morecourse.course.rateamount}} ratings) {{morecourse.studentNum}} students</p>
        <p class="card-text">
            {{{morecourse.course.fullDesc}}}
        </p>
        {{#if user}}
            {{#ifIdNotEquals user._id morecourse.course.teacher._id}}
                {{#unless isIn}}
                    <form action="/course/join" method="POST" id="frmJoin">
                        <div class="row form-group">
                            <div class="col-sm-4">
                                <div class="input-group mb-3">
                                    <input type="hidden" value="{{morecourse.course._id}}" name="id" id="id">
                                    <button class="btn btn-outline-primary" type="submit">
                                        Join
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                {{/unless}}
            {{/ifIdNotEquals}}
        {{/if}}
        <h3 id="errorMsg">
            {{#if successful}}
                Join successful
            {{/if}}
            {{#if isIn}}
                You have already joined the course
            {{/if}}
        </h3>
    </div>
    <div class="card-footer">
        <div class="d-flex flex-row-reverse mr-3">
            {{#if user}}
                {{#unless alreadyFavor}}
                    <a href="/course/favorite?courseId={{morecourse.course._id}}" class="btn btn-outline-warning">Add to favorites</a>
                {{/unless}}
                {{#ifIdEquals user._id morecourse.course.teacher._id}}
                    <a class="btn btn-outline-primary mr-2" href="/profile/edit?courseId={{morecourse.course._id}}" role="button">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                        Edit
                    </a>
                {{/ifIdEquals}}
            {{/if}}
        </div>
    </div>                 
</div>
<div class="card">
    <h5 class="card-header">Content</h5>
    <div class="card-body">
        {{#if preview}}
            <a href="/watch?courseId={{morecourse.course._id}}&chapter=1" class="btn btn-lg btn-outline-primary">Preview</a>
        {{/if}}
        <table class="mt-5">
            <tr>
                <td><h3 class="mr-5">Videos</h3></td>
                <td>
                    {{#each coursecontent.content}}
                        <a href="/watch?courseId={{../morecourse.course._id}}&chapter={{this.chapter}}" class="btn btn-sm btn-primary mb-3">Chapter {{this.chapter}}</a>
                        <span class="pl-2"><b>{{this.title}}</b></span>
                        <br>
                    {{else}}
                        <h3 class="text-danger">Empty</h5>
                    {{/each}}
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="card">
    <h5 class="card-header">Teacher info</h5>
    <div class="card-body">
        <p><b class="">Fullname: </b>{{morecourse.course.teacher.fullname}}</p>
        <p><b class="">Email: </b>{{morecourse.course.teacher.email}}</p>
        <p><b>Description</b></p>
        {{{morecourse.course.teacher.desc}}}
    </div>
</div>
<div class="card">
    <h5 class="card-header">Hottest courses in same category</h5>
    <div class="card-body">
        <div class="row">
            {{#each altMorecourses}}
                {{#unless this.course.disabled}}
                    <div class="col-sm-4 mb-3">
                        <div class="card h-100">
                            <img src="/public/images/{{this.course.teacher._id}}/{{this.course._id}}/{{this.course.smallPicture}}" class="card-img-top" alt="{{this.course.title}}" width="286" height="180">
                            <div class="card-body">
                                <h5 class="card-title">{{this.course.title}}</h5>
                                <h6 class="card-subtitle">by {{this.course.teacher.fullname}}</h6>
                                {{#if this.course.completed}}
                                    <h5 class="text-success">Completed</h5>
                                {{else}}
                                    <h5 class="text-danger">Incompleted</h5>
                                {{/if}}
                                <h6 class="text-primary pt-4">{{this.course.category.name}}</h6>
                                <h5 class="text-danger">{{this.course.fee.price}} VND</h5>
                                <h5 class="text-warning">Sale off: {{this.course.fee.sale}}%</h5>
                                <p class="card-text">
                                    {{{this.course.minDesc}}}
                                </p>
                                <input id="{{this.course.title}}" name="{{this.course.title}}" class="kv-ltr-theme-svg-star rating-loading mt-3" value="{{this.course.rate}}" dir="ltr" data-size="sm" readonly="true">
                                {{this.course.rateamount}} has (have) rated
                            </div>
                            <div class="card-footer">
                                <a class="btn btn-sm btn-outline-primary" href="/course/detail?courseId={{this.course._id}}" role="button">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                    Details
                                </a>
                            </div>
                        </div>
                    </div>
                {{/unless}}
            {{else}}
                <h3 class="text-danger">Empty</h5>
            {{/each}}
        </div>
    </div>
</div>
<div class="card">
    <h5 class="card-header">Feedbacks</h5>
    <div class="card-body">
        {{#if isIn}}
            <form action="/course/rating" method="POST" id="frmRating" name="frmRating">
                <input type="hidden" value="{{morecourse.course._id}}" name="id" id="id">
                <label for="rating">Rate this course</label>
                <input id="rating" name="rating" class="kv-ltr-theme-svg-star rating-loading" value="0" dir="ltr" data-size="sm" required>
                <button class="btn btn-outline-warning mt-2" type="submit">
                    Submit
                </button>
            </form>

            <form action="/course/feedback" method="POST" id="frmFeedback" name="frmFeedback">
                <div class="form-row">
                    <div class="col-sm-4">
                        <div class="input-group mb-3">
                            <input type="hidden" value="{{morecourse.course._id}}" name="id" id="id">
                            <textarea form="frmFeedback" class="form-control mt-3" style="resize:none" id="feedback" name="feedback" rows="3" cols="50" placeholder="Give us your feedback about this course (This may replace your old feedback if you have already given one" required></textarea>
                            <button class="btn btn-outline-danger" type="submit">
                                Submit
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        {{/if}}
        <input id="rating-display" name="rating-display" class="kv-ltr-theme-svg-star rating-loading mt-3" value="{{morecourse.course.rate}}" dir="ltr" data-size="xl" readonly="true">

        {{#each morecourse.students}}
            {{#if this.feedback}}
                <h5 class="mt-3">{{this.student.fullname}}</h5>
                <p class="card-text">{{this.feedback}}</p>
            {{/if}}
        {{/each}}
    </div>
</div>

{{#section 'script'}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.6/js/star-rating.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.6/themes/krajee-svg/theme.js"></script>
    <script>
        $(document).ready(function(){
            $('.kv-ltr-theme-svg-star').rating({
                hoverOnClear: false,
                theme: 'krajee-svg'
            })
        })

        $('#frmJoin').on('submit', e => {
            e.preventDefault()
            const temp_id = $('#id').val()
            $.getJSON(`/course/has-joined?courseId=${temp_id}`, data => {
                if (data === false) {
                    $('#frmJoin').off('submit').submit()
                } else {
                    $('#errorMsg').html('You have already joined the course')
                    return
                }
            }) 
        })
    </script>
{{/section}}

{{#section 'style'}}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.6/css/star-rating.min.css" media="all" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.6/themes/krajee-svg/theme.css" media="all" rel="stylesheet" type="text/css" />

    <style>
        .card-img-top {
            height: 15vw;
            object-fit: cover;
        }

        .limit {
            width: 50vw;
        }
    </style>
{{/section}}