<h1 class="ml-5 mt-3 text-danger">Hottest courses</h1>
<div class="owl-carousel owl-theme my-4">
    {{#each morecourses}}
        {{#unless this.course.disabled}}
            <div class="card bg-light border-danger">
                <img src="/public/images/{{this.course.teacher._id}}/{{this.course._id}}/{{this.course.smallPicture}}" class="card-img-top" alt="{{this.course.title}}">
                <div class="card-body">
                    <h5 class="card-title">{{this.course.title}}</h5>
                    <h6 class="card-subtitle">by {{this.course.teacher.fullname}}</h6>
                    {{#if this.course.completed}}
                        <h5 class="text-success">Completed</h5>
                    {{else}}
                        <h5 class="text-danger">Incompleted</h5>
                    {{/if}}
                    <h6 class="text-primary pt-4">{{this.course.category.name}}</h6>
                    <h5 class="text-danger">{{this.course.fee.price}} VND</h5>
                    <h5 class="text-warning">Sale off: {{this.course.fee.sale}}%</h5>
                    <p class="card-text">
                        {{{this.course.minDesc}}}
                    </p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-sm btn-outline-primary" href="/course/detail?courseId={{this.course._id}}" role="button">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                        Details
                    </a>
                </div>
            </div>
        {{/unless}}
    {{/each}}
</div>

<h1 class="ml-5 mt-3 text-primary">Most view courses</h1>
<div class="owl-carousel owl-theme my-4">
    {{#each viewestMorecourses}}
        {{#unless this.course.disabled}}
            <div class="card bg-light border-primary">
                <img src="/public/images/{{this.course.teacher._id}}/{{this.course._id}}/{{this.course.smallPicture}}" class="card-img-top" alt="{{this.course.title}}">
                <div class="card-body">
                    <h5 class="card-title">{{this.course.title}}</h5>
                    <h6 class="card-subtitle">by {{this.course.teacher.fullname}}</h6>
                    {{#if this.course.completed}}
                        <h5 class="text-success">Completed</h5>
                    {{else}}
                        <h5 class="text-danger">Incompleted</h5>
                    {{/if}}
                    <h6 class="text-primary pt-4">{{this.course.category.name}}</h6>
                    <h5 class="text-danger">{{this.course.fee.price}} VND</h5>
                    <h5 class="text-warning">Sale off: {{this.course.fee.sale}}%</h5>
                    <p class="card-text">
                        {{{this.course.minDesc}}}
                    </p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-sm btn-outline-primary" href="/course/detail?courseId={{this.course._id}}" role="button">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                        Details
                    </a>
                </div>
            </div>
        {{/unless}}
    {{/each}}
</div>

<h1 class="ml-5 mt-3 text-warning">Newly added courses</h1>
<div class="owl-carousel owl-theme my-4">
    {{#each newestCourses}}
        {{#unless this.disabled}}
            <div class="card bg-light border-warning">
                <img src="/public/images/{{this.teacher._id}}/{{this._id}}/{{this.smallPicture}}" class="card-img-top" alt="{{this.title}}">
                <div class="card-body">
                    <h5 class="card-title">{{this.title}}</h5>
                    <h6 class="card-subtitle">by {{this.teacher.fullname}}</h6>
                    {{#if this.completed}}
                        <h5 class="text-success">Completed</h5>
                    {{else}}
                        <h5 class="text-danger">Incompleted</h5>
                    {{/if}}
                    <h6 class="text-primary pt-4">{{this.category.name}}</h6>
                    <h5 class="text-danger">{{this.fee.price}} VND</h5>
                    <h5 class="text-warning">Sale off: {{this.fee.sale}}%</h5>
                    <p class="card-text">
                        {{{this.minDesc}}}
                    </p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-sm btn-outline-primary" href="/course/detail?courseId={{this._id}}" role="button">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                        Details
                    </a>
                </div>
            </div>
        {{/unless}}
    {{/each}}
</div>

<h2 class="ml-5 mt-3 text-success">Hottest categories</h2>
<div class="owl-carousel owl-theme my-4">
    {{#each hottestCategories}}
        <div class="card text-center bg-success">
            <div class="card-body">
                <a class="whitelink" href="/course/byCat?categoryId={{this._id}}">{{this.name}}</a>
            </div>
        </div>
    {{/each}}
</div>

<br><br><br>

{{#section 'style'}}
    <link rel="stylesheet" href="/public/lib/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/public/lib/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css">
    <style>
        .carousel-control-prev-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
        }

        .carousel-control-next-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
        }

        .card-img-top {
            height: 15vw;
            object-fit: cover;
        }

        a.whitelink:link, a.whitelink:visited {
            color: white;
        }
    </style>
{{/section}}

{{#section 'script'}}
    <script src="/public/lib/OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>
    <script>
        $(document).ready(function(){
            $(".owl-carousel").owlCarousel({
                margin:30,
                nav:true,
                stagePadding:30,
                responsive:{
                    0:{
                        items:1
                    },
                    600:{
                        items:3
                    }
                }
            })
        })
    </script>
{{/section}}