<div id="hottest" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="card text-center text-white bg-danger">
              <div class="card-body">
                <h5 class="card-title">Hottest courses</h5>
                <h6 class="card-subtitle">Teacher</h5>
                <h6 class="text-primary pt-4">Category</h6>
                <h5 class="text-light">Price</h5>
                <h5 class="text-warning">Sale off</h5>
                <p class="card-text">
                    Description
                </p>
              </div>
            </div>
        </div>
        {{#each morecourses}}
            <div class="carousel-item">
                <div class="card text-center bg-light">
                    <div class="card-body">
                        <h5 class="card-title">{{this.course.title}}</h5>
                        <h6 class="card-subtitle">by {{this.course.teacher.fullname}}</h5>
                        <h6 class="text-primary pt-4">{{this.course.category.name}}</h6>
                        <h5 class="text-danger">{{this.course.fee.price}} VND</h5>
                        <h5 class="text-warning">Sale off: {{this.course.fee.sale}}%</h5>
                        <p class="card-text">
                            {{{this.course.minDesc}}}
                        </p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-sm btn-outline-primary" href="/course/detail?courseId={{this.course._id}}" role="button">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                            Details
                        </a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
    <a class="carousel-control-prev" href="#hottest" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#hottest" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div id="viewest" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="card text-center text-white bg-primary">
              <div class="card-body">
                <h5 class="card-title">Most view courses</h5>
                <h6 class="card-subtitle">Teacher</h5>
                <h6 class="text-light pt-4">Category</h6>
                <h5 class="text-danger">Price</h5>
                <h5 class="text-warning">Sale off</h5>
                <p class="card-text">
                    Description
                </p>
              </div>
            </div>
        </div>
        {{#each viewestMorecourses}}
            <div class="carousel-item">
                <div class="card text-center bg-light">
                    <div class="card-body">
                        <h5 class="card-title">{{this.course.title}}</h5>
                        <h6 class="card-subtitle">by {{this.course.teacher.fullname}}</h5>
                        <h6 class="text-primary pt-4">{{this.course.category.name}}</h6>
                        <h5 class="text-danger">{{this.course.fee.price}} VND</h5>
                        <h5 class="text-warning">Sale off: {{this.course.fee.sale}}%</h5>
                        <p class="card-text">
                            {{{this.course.minDesc}}}
                        </p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-sm btn-outline-primary" href="/course/detail?courseId={{this.course._id}}" role="button">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                            Details
                        </a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
    <a class="carousel-control-prev" href="#viewest" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#viewest" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div id="newest" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="card text-center text-white bg-warning">
              <div class="card-body">
                <h5 class="card-title">Newly added courses</h5>
                <h6 class="card-subtitle">Teacher</h5>
                <h6 class="text-primary pt-4">Category</h6>
                <h5 class="text-danger">Price</h5>
                <h5 class="text-light">Sale off</h5>
                <p class="card-text">
                    Description
                </p>
              </div>
            </div>
        </div>
        {{#each newestCourses}}
            <div class="carousel-item">
                <div class="card text-center bg-light">
                    <div class="card-body">
                        <h5 class="card-title">{{this.title}}</h5>
                        <h6 class="card-subtitle">by {{this.teacher.fullname}}</h5>
                        <h6 class="text-primary pt-4">{{this.category.name}}</h6>
                        <h5 class="text-danger">{{this.fee.price}} VND</h5>
                        <h5 class="text-warning">Sale off: {{this.fee.sale}}%</h5>
                        <p class="card-text">
                            {{{this.minDesc}}}
                        </p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-sm btn-outline-primary" href="/course/detail?courseId={{this._id}}" role="button">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                            Details
                        </a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
    <a class="carousel-control-prev" href="#newest" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#newest" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div id="hotcat" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="card text-center bg-light">
              <div class="card-body">
                <div class="card-title">Hottest categories</div>
              </div>
            </div>
        </div>
        {{#each hottestCategories}}
            <div class="carousel-item text-center">
                <div class="card text-center text-white bg-light">
                    <div class="card-body">
                        <a href="/course/byCat?categoryId={{this._id}}">{{this.name}}</a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
    <a class="carousel-control-prev" href="#hotcat" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#hotcat" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<br><br><br>

{{#section 'style'}}
    <style>
        .carousel-control-prev-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
        }

        .carousel-control-next-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
        }
    </style>
{{/section}}