<div class="card">
    <h5 class="card-header">
        Chapter {{curVid.chapter}}: {{curVid.title}}
    </h5>
    {{#each progress.progress}}
        {{#ifEquals this.video ../curVid.title}}
            <input type="hidden" id="lefttime" value="{{this.time}}">
            <button id="left" class="btn btn-warning">Click this to return to where you left off</button>
        {{/ifEquals}}
    {{/each}}
    <div class="card-body d-flex justify-content-center">
        <video
            id="my-video"
            class="video-js vjs-big-play-centered"
            controls
            width="854"
            height="480"
            data-setup="{}"
        >
            <source src="/public/videos/{{coursecontent.course.teacher}}/{{coursecontent.course._id}}/{{curVid.video}}" type="video/mp4" />
            <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a
            web browser that
            <a href="https://videojs.com/html5-video-support/" target="_blank"
                >supports HTML5 video</a
            >
            </p>
        </video>
    </div>
</div>
<div class="card">
    <h5 class="card-header">
        Other chapters
    </h5>
    <div class="card-body">
        <div class="row">
            {{#each otherVids}}
                <div class="col-sm-1">
                    <a href="/watch?courseId={{../coursecontent.course._id}}&chapter={{this.chapter}}" class="btn btn-sm btn-primary">Chapter {{this.chapter}}</a>
                </div>
            {{/each}}
        </div>
    </div>
    <div class="card-footer">
        <a href="/course/detail?courseId={{coursecontent.course._id}}" class="btn btn-primary">Back to course</a>
    </div>
</div>

{{#section 'script'}}
    <script src="https://vjs.zencdn.net/7.10.2/video.min.js"></script>
    <script>
        var myPlayer = videojs('my-video')

        $('#left').click(() => {
            const dest = $('#lefttime').val()
            console.log(dest)
            myPlayer.currentTime(dest)
        })

        window.addEventListener('beforeunload', function() {
            var searchParams = {
                currentTime: myPlayer.currentTime(),
                title: "{{curVid.title}}"
            }
            var blob= new Blob([JSON.stringify(searchParams)], {type : 'application/json; charset=UTF-8'})
            navigator.sendBeacon('/watch/update-time', blob)
        })
    </script>
{{/section}}

{{#section 'style'}}
    <link href="https://vjs.zencdn.net/7.10.2/video-js.css" rel="stylesheet" />
{{/section}}