{{#if error}}
    <h2>There are courses belong in the category you are trying to delete!!!</h2>
{{/if}}
<div class="mx-5" style="margin-top: 30px">
    <table class="table table-hover" style="table-layout: fixed" id="profile">
        {{#each cat}}
            <tr data-toggle="collapse" data-target="#collapseCat{{this.name}}">
                <th>{{this.name}}</th>
                <td>{{this.type}}</td>
                <td class="small-col"><i class="fas fa-edit"></i></td>
                <td class="blue">Edit</td>
                <td><a href="delete?id={{this._id}}" class="btn btn-outline-danger">Delete</a></td>
            </tr>
            <tr class="non-hover">
                <td colspan="5">
                    <div class="collapse" id="collapseCat{{this.name}}" data-parent="#profile">
                        <div class="row justify-content-md-center">
                            <form class="col-md-4" action="/admin/category?id={{this._id}}" method="post" name="frmCat{{this.name}}" id="frmCat{{this.name}}">
                                <h3>Change one of these two or both</h3>
                                <label for="cat{{this.name}}">Category name</label>
                                <input type="hidden" name="catname" value="cat{{this.name}}">
                                <input type="text" class="form-control" id="cat{{this.name}}" name="cat{{this.name}}">

                                <label for="cat{{this.type}}">Category type:</label>
                                <input type="hidden" name="cattype" value="cat{{this.type}}">
                                <select class="form-select mt-3 ml-2" id="cat{{this.type}}" name="cat{{this.type}}">
                                    {{#each ../catTYPE}}
                                        <option value="{{this}}">{{this}}</option>
                                    {{/each}}                 
                                </select>
                                <br>
                                <button type="submit" class="btn btn-primary mt-2">Save change</button>
                            </form>
                        </div>
                    </div>
                </td>
            </tr>
        {{/each}}
    </table>
</div>

{{#section 'style'}}
    <style>
        .table-hover>tbody>tr.non-hover:hover {
            background-color: transparent;
        }
        .table-hover>tbody>tr>th,
        .table-hover>tbody>tr>td {
            border: none;
        }
        i.fas {
            display: none;
        }
        .table-hover>tbody>tr:hover i.fas {
            display: inline-block;
        }
        td.small-col {
            width: 1px;
        }
        .table-hover>tbody>tr:hover td.blue {
            color: blue;
        }
    </style>
{{/section}}