<div class="card">
    <h3 class="card-title text-center mt-3">Courses</h3>
    <div class="d-flex justify-content-between">
        <div class="ml-5">
            <form action="/admin/filter" method="POST" name="frmFilter">
                <label for="category">Choose category</label>
                <select name="category" id="category">
                    <option value="">None</option>
                    <optgroup label="Web">
                        {{#each cat}}
                            {{#ifEquals this.type "Web"}}
                                <option value="{{this._id}}">{{this.name}}</option>
                            {{/ifEquals}}
                        {{/each}}
                    </optgroup>
                    <optgroup label="Mobile">
                        {{#each cat}}
                            {{#ifEquals this.type "Mobile"}}
                                <option value="{{this._id}}">{{this.name}}</option>
                            {{/ifEquals}}
                        {{/each}}
                    </optgroup>
                </select>
                
                <label for="teacher" class="ml-2">Choose teacher</label>
                <select name="teacher" id="teacher">
                    <option value="">None</option>
                    {{#each teachers}}
                        <option value="{{this._id}}">{{this.fullname}}</option>
                    {{/each}}
                </select>

                <button class="btn btn-primary ml-2">
                    <i class="fa fa-filter" aria-hidden="true"></i>
                    Filter
                </button>
            </form>
        </div>
        <div class="mr-5">
            <a class="btn btn-outline-danger" href="/admin/sort-rating">
                <i class="fa fa-sort" aria-hidden="true"></i>
                Sort rating descending
            </a>
            <a class="btn btn-outline-warning" href="/admin/sort-fee">
                <i class="fa fa-sort" aria-hidden="true"></i>
                Sort fee ascending
            </a>
        </div>
    </div>
    {{#if empty}}
    <div class="card-body">
        <p class="card-text">No data</p>
    </div>
    {{else}}
        <div class="card-body">
            <div class="row">
                {{#each courses}}
                    <div class="col-sm-4 mb-3">
                        {{#isHot this.rate}}
                            <div class="card h-100 border-danger">
                            {{else}}
                                {{#isNew this.createdOn}}
                            <div class="card h-100 border-warning">
                                {{else}}
                                    {{#if this.fee.sale}}
                            <div class="card h-100 border-primary">
                                    {{else}}
                            <div class="card h-100">        
                                    {{/if}}
                                {{/isNew}}
                            {{/isHot}}
                            <img src="/public/images/{{this.teacher._id}}/{{this._id}}/{{this.smallPicture}}" class="card-img-top" alt="{{this.title}}">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <h5 class="card-title">{{this.title}}</h5>
                                    {{#if this.disabled}}
                                        <a href="/admin/enable?courseId={{this._id}}" class="btn btn-success">Enable</a>
                                    {{else}}
                                        <a href="/admin/disable?courseId={{this._id}}" class="btn btn-danger">Disable</a>
                                    {{/if}}
                                </div>
                                <h6 class="card-subtitle">by {{this.teacher.fullname}}</h6>
                                {{#if this.completed}}
                                    <h5 class="text-success">Completed</h5>
                                {{else}}
                                    <h5 class="text-danger">Incompleted</h5>
                                {{/if}}
                                <h6 class="text-primary pt-4">{{this.category.name}}</h6>
                                <h5 class="text-danger">{{this.fee.price}} VND</h5>
                                <h5 class="text-warning">Sale off: {{this.fee.sale}}%</h5>
                                <p class="card-text">
                                    {{{this.minDesc}}}
                                </p>
                                <input id="{{this.title}}" name="{{this.title}}" class="kv-ltr-theme-svg-star rating-loading mt-3" value="{{this.rate}}" dir="ltr" data-size="sm" readonly="true">
                                {{this.rateamount}} has (have) rated
                            </div>
                            <div class="card-footer">
                                <a class="btn btn-sm btn-outline-primary" href="/course/detail?courseId={{this._id}}" role="button">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                    Details
                                </a>
                                {{#ifIdEquals ../user._id this.teacher._id}}
                                    <a class="btn btn-sm btn-outline-primary" href="/profile/edit?courseId={{this._id}}" role="button">
                                        <i class="fa fa-edit" aria-hidden="true"></i>
                                        Edit
                                    </a>
                                {{/ifIdEquals}}
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    {{/if}}
</div>

{{#section 'script'}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.6/js/star-rating.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.6/themes/krajee-svg/theme.js"></script>
    <script>
        $(document).ready(function(){
            $('.kv-ltr-theme-svg-star').rating({
                hoverOnClear: false,
                theme: 'krajee-svg'
            })
        })
    </script>
{{/section}}

{{#section 'style'}}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.6/css/star-rating.min.css" media="all" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.6/themes/krajee-svg/theme.css" media="all" rel="stylesheet" type="text/css" />

    <style>
        .card-img-top {
            width: 100%;
            height: 15vw;
            object-fit: cover;
        }
    </style>
{{/section}}